<script type="text/javascript">
//<![CDATA[
/* You may give each page an identifying name, server, and channel on
the next lines. */
s.server="{{ omniture.site }}"
s.channel="{{ omniture.channel() }}"
s.pageName="{{ omniture.pagename() }}"
s.prop1="{{ omniture.prop1() }}"
s.prop2="{{ omniture.prop2() }}"
s.prop3="{{ omniture.prop3() }}"
s.prop4="{{ omniture.prop4() }}"
s.prop5="{{ omniture.prop5() }}"
s.prop6="{{ omniture.prop6() }}"
s.prop7="{{ omniture.prop7() }}"
s.prop8="{{ omniture.prop8() }}"
s.prop9="{{ omniture.prop9() }}"
s.prop10="{{ omniture.prop10() }}"
s.prop11="{{ omniture.prop11() }}"
s.prop12="{{ omniture.prop12() }}"
s.prop13="{{ omniture.prop13() }}"
s.prop14="{{ omniture.prop14() }}"
s.prop15="{{ omniture.prop15() }}"
s.prop16="{{ omniture.prop16() }}"
s.prop17="{{ omniture.prop17() }}"
s.prop18="{{ omniture.prop18() }}"
s.prop19="{{ omniture.prop19() }}"
s.prop20="{{ omniture.prop20() }}"
s.prop21="{{ omniture.prop21() }}"
s.prop22="{{ omniture.prop22() }}"
s.prop23="{{ omniture.prop23() }}"
s.prop24="{{ omniture.prop24() }}"
s.prop25="{{ omniture.prop25() }}"
s.prop26="{{ omniture.prop26() }}"
s.prop27="{{ omniture.prop27() }}"
s.hier1="{{ omniture.hier1() }}"
s.hier2="{{ omniture.hier2() }}"
s.hier3="{{ omniture.hier3() }}"


/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();if(s_code) document.write(s_code)
if(navigator.appVersion.indexOf('MSIE')>=0) document.write(unescape('%3C')+'\!-'+'-');
//]]>
</script> 
<noscript>
	<div>
		<a href="http://www.omniture.com" title="Web Analytics" ><img
src="http://{{ omniture.omniture_domain }}/b/ss/{{ omniture.account }}/1/H.17--NS/0"
height="1" width="1" alt="" /></a>
	</div>
</noscript>
<!--/DO NOT REMOVE/-->